---
title: Home
description: The latest app to help you find new friends with common interests.
image: /images/celticroom-ady-violin-1-ed-2000w.webp
bottom_image: https://source.unsplash.com/user/marklchaves/2000x1322
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container text-container--right">
		<div class="hero-text-container hero-text-container--right">
			<h1 class="editable">The Celtic Room</h1>
			<p class="subtext editable">The home of traditional Irish music in Indonesia</p>
			<div class="cta button alt"><a href="#">Where are we playing?</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Traditional Irish Music</h2>
				<p class="editable">The Celtic Room is for anyone who loves to play traditional Irish Music. Find out how to contact Irish musicians across Indonesia. Learn where you can go to play traditional Irish music.</p>
			</div>
			<div class="image image--resp-portrait">
				<img id="home-image-1" class="editable" src="/images/celticroom-etha-tuning-1-650w.webp" alt="Etha of the Celtic Room tuning her violin" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Play Music With Us</h2>
				<p class="editable">Join Us at Our weekly Session&mdash;Tuesday 4pm at the Wicked Parrot, Sanur. We'll share a list of tunes commonly played in Indonesia, so you can come and play with us.</p>
			</div>
			<div class="image image--resp-portrait">
				<img id="home-image-2" class="editable" src="/images/celticroom-etha-violin-cello-1-650w.webp" alt="The Celtic Room violinist and cellist" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Learn How to Play</h2>
				<p class="editable">Are you a new musician? Why not learn how to play with us. You'll learn abc text music notation, and you'll get sound clips for our tunes to help you learn to play them.</p>
			</div>
			<div class="image image--resp-portrai">
				<img id="home-image-3" class="editable" src="/images/celticroom-stella-accordian-1-650w.webp" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container hero__text--bg">
				<h2 class="editable">Find out where we're playing</h2>
				<p class="subtext editable">Have fun listening, dancing, and meeting new people. Come out and join us.</p>
				<div class="cta button alt"><a href="#">Where are we playing?</a></div>
			</div>
		</div>
	</section>
</div>
